<section class="page-content">
  <div class="page-content-inner">
    <div class="panel" id="overscroll-panel">
      <%= render partial: 'chart' %>
    </div>
  </div>
</section>

<% content_for :script_tags do %>
    <%= javascript_include_tag '/assets/vendors/overscroll/dist/jquery.overscroll.min.js' %>
<% end %>

<% content_for :scripts do %>
    <script>
        $('div.node').click(function () {
            var positionId = $(this).find('p').attr('data-id');

            window.open('/personas/organigrama/' + positionId, '_self')
        });

        $('#overscroll-panel').overscroll({persistThumbs: true});
    </script>
<% end %>

<% content_for :styles, raw(position_selector_style) %>

<% content_for :menu do %>
    <div class="dropdown">
      <%= link_to new_position_path, method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-file-plus"></i>
          Nueva
      <% end %>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
        <span>
          Personas: Organigrama
        </span>
        </li>
      </ul>
    </div>
<% end %>