
<%= render partial: 'risks/new/rule_form', locals: {type_label: 'Ley'} %>

<%= content_for :scripts do %>
    <script>
        $('#rule-in').click(function() {
            setOptions('Rule', 'Ley', false, 'risk_law', $(this));
            renderAndShowReferencesModal('law');
        });

        $('#responsible-in').click(function () {
            setOptions('Person::User', 'Responsable', false, 'risk_responsible', $(this));
            renderAndShowReferencesModal();
        });
    </script>
<% end %>

<%= content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to risks_path('ley') do %>
              Riesgos Legales
          <% end %>
        </li>
        <li>
          <span>
            Nuevo
          </span>
        </li>
      </ul>
    </div>
<% end %>