
<%= render partial: 'risks/new/rule_form', locals: {type_label: 'Ley'} %>

<%= content_for :scripts do %>
    <script>
        $('#rule-in').click(function() {
            $('#table-modal-title').html('Seleccionar Artículo');
            $.ajax({url: '/associables/single_rule-in/Law'});
        });

        $('#responsible-in').click(function () {
            $('#table-modal-title').html('Seleccionar Responsable');
            $.ajax({url: '/associables/single_responsible-in/Person::User'});
        });
    </script>
<% end %>

<%= content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to risks_path('ley') do %>
              Riesgos Legales
          <% end %>
        </li>
        <li>
          <span>
            Nuevo
          </span>
        </li>
      </ul>
    </div>
<% end %>