<%= render partial: 'risks/new/rule_form', locals: {type_label: 'Norma'} %>

<%= content_for :scripts do %>
    <script>
        $('#rule-in').click(function() {
            setCurrentModalOptions('Rule', 'Norma', false, $(this));
            renderAndShowReferencesModal('standard');
        });

        $('#responsible-in').click(function () {
            setCurrentModalOptions('Person::User', 'Responsable', false, $(this));
            renderAndShowReferencesModal();
        });
    </script>
<% end %>

<%= content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to risks_path('norma') do %>
              Riesgos Normativos
          <% end %>
        </li>
        <li>
          <span>
            Nuevo
          </span>
        </li>
      </ul>
    </div>
<% end %>