<% attachments = element.attachment_ids %>
<div id="attachments-table-body">
  <%=
    render partial: '/uploaded_files/attachments_table_body',
           locals: {
               attachments: element.attachment_ids,
               e_id: element.id
           }
  %>
</div>

<script>
    $('#attachments-form').on('ajax:success', function (e, data, status, xhr) {

    });
</script>