<div class="panel-heading">
  <h5 style="display: inline">
    Adjuntos
  </h5>
</div>
<div class="panel-body" id="attachments-table">

  <div id="attachments-table">
    <table class="table table-hover">
      <thead>
      <tr>
        <th width="1%"></th>
        <th>Nombre</th>
        <th width="30%">Fecha</th>
      </tr>
      </thead>
      <tbody>
      <% if element.attachment_ids? && !element.attachment_ids.empty? %>
          <% UploadedFile.all_from(element.attachment_ids).each do |attachment| %>
              <tr>
                <td>
                  <%= icon_for attachment.upload_content_type %>
                </td>

                <td>
                  <%= link_to attachment.upload_file_name, attachment %>
                </td>

                <td>
                  <%= attachment.created_at.strftime(dt_rb_format(true, false)) %>
                </td>
              </tr>
          <% end %>
      <% else %>
          <td colspan="4">No se encontraron archivos adjuntos</td>
      <% end %>
      </tbody>
    </table>
  </div>

</div>
