= render partial: 'referables/references_nav'

= form_for @risk, as: :risk, url: edit_risk_path('ambiente', @risk), method: :patch do |f|
  section.page-content
    .page-content-inner
      .panel style=('padding: 15px 25px')

        .row.form-group
          .col-lg-1.text-right
            = label :extra, :area_name, 'Área', class: 'form-control-label'
          #area-in.col-lg-3.input-group
            = text_field :extra, :area_name, class: 'form-control', readonly: true,
                    value: Position.find(@risk.area_id).name
            = f.hidden_field :area_id, class: 'form-control-hidden'
            span.input-group-addon style=('cursor: pointer')
              i.icmn-pencil5

          .col-lg-1.text-right
            = label :extra, :process_name, 'Proceso', class: 'form-control-label'
          #process-in.col-lg-3.input-group
            = text_field :extra, :process_name, class: 'form-control', readonly: true,
                    value: BusinessProcess.find(@risk.process_id).name
            = f.hidden_field :process_id, class: 'form-control-hidden'
            span.input-group-addon style=('cursor: pointer')
              i.icmn-pencil5

          .col-lg-1.text-right
            = f.label :name, 'Riesgo', class: 'form-control-label'
          .col-lg-3
            = f.text_field :name, class: 'form-control'

        .row.form-group
          .col-lg-1.text-right
            = f.label :activity, 'Actividad', class: 'form-control-label'
          .col-lg-3
            = f.text_field :activity, class: 'form-control'

          .col-lg-1.text-right
            = f.label :aspect, 'Aspecto', class: 'form-control-label'
          .col-lg-3
            = f.text_field :aspect, class: 'form-control'

          .col-lg-1.text-right
            = label :extra, :responsible, 'Responsable', class: 'form-control-label'
          #responsible-in.col-lg-3.input-group
            = text_field :extra, :responsible_name, class: 'form-control', readonly: true,
                    value: Person::User.find(@risk.responsible_id).full_name
            = f.hidden_field :responsible_id, class: 'form-control-hidden'
            span.input-group-addon style=('cursor: pointer')
              i.icmn-pencil5

        .row.form-group
          .col-lg-1.text-right
            = f.label :positive, 'Impacto', class: 'form-control-label'
          .col-lg-3
            = f.collection_select :positive,
                    {false => 'Negativo', true => 'Positivo'},
                    :first, :last, {}, {class: 'form-control', style: 'width:100%'}

          .col-lg-1.text-right
            = f.label :operational_situation, 'Sit. Operacional', class: 'form-control-label'
          .col-lg-3
            = f.collection_select :operational_situation,
                    @settings.environmental_options[:op_situation],
                    :first, :last, {}, {class: 'form-control', style: 'width:100%'}

          .col-lg-1.text-right
            = f.label :measurement_frequency, class: 'form-control-label'
          .col-lg-3
            = f.collection_select :measurement_frequency,
                    frequency_hash,
                    :first, :last, {}, {class: 'form-control', style: 'width:100%'}

        .row.form-group
          .col-lg-1.text-right
            = f.label :direct, 'Causante', class: 'form-control-label'
          .col-lg-3
            = f.collection_select :direct,
                    {true => 'Directo', false => 'Indirecto'},
                    :first, :last, {}, {class: 'form-control', style: 'width:100%'}

          .col-lg-1.text-right
            = f.label :occurrence_time, 'Tiempo', class: 'form-control-label'
          .col-lg-3
            = f.collection_select :occurrence_time,
                    @settings.environmental_options[:occ_time],
                    :first, :last, {}, {class: 'form-control', style: 'width:100%'}
      / .panel

      = render partial: 'shared/form/comments_area', locals: {form: f}

      .row.is-flex
        .col-lg-5
          .panel style=('height: 100%')
            = render partial: 'uploaded_files/edit_attachments',
                    locals: {element: @risk, form: f}
        .col-lg-6.col-lg-offset-1
          .panel style=('height: 100%')
            = render partial: 'referables/show_all_for',
                    locals: {element: @risk, form_format: true}
  / section

  /! Confirmation modal
  = render partial: 'shared/form/confirmation_modal', locals: {form: f}


= content_for :scripts do
  javascript:
      #{}
      $(function () {
          setSelectedReferences( #{{ raw @risk.references.to_json }}, null);
      })

      $('#process-in').click(function () {
          setOptions('BusinessProcess', 'Proceso', false, 'risk_process', $(this));
          renderAndShowReferencesModal();
      });

      $('#responsible-in').click(function () {
          setOptions('Person::User', 'Responsable', false, 'risk_responsible', $(this));
          renderAndShowReferencesModal();
      });

      $('#area-in').click(function () {
          setOptions('Position', 'Área', false, 'risk_area', $(this));
          renderAndShowReferencesModal('area');
      });
      #{}


= content_for :breadcrumbs do
  .left
    ul.list-unstyled.breadcrumb.breadcrumb-custom
      li
        = link_to 'Riesgos Ambientales', risks_path('ambiente')
      li
        = link_to @risk.number, risk_path('ambiente', @risk.id)
      li
        span Editar