<div class="tab-pane active" id="table" role="tabpanel" aria-expanded="false">
  <div class="input-group padding-10 inline" style="width: 80%; overflow: auto">
    <%= text_field :search, :input, placeholder: 'Buscar', class: 'form-control'%>
    <span class="input-group-addon">
      <i class="icmn-search"></i>
    </span>
  </div>
  <div class="table-responsive margin-bottom-30" style="height:301px; overflow:auto; width: auto">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Test1</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><b>Element:</b> <%= @element %><br> <b>Assoc key:</b> <%= @association_key %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>