<div class="row">

  <%= render partial: 'positions/chart', layout: false %>

</div>

<style>
  .position {
    color: #827ca1;
  }
  .area-position {
    color: #827ca1;
    cursor: pointer !important;
  }

  .area-position p {
    color: #827ca1;
  }

  .area-position:hover p {
    color: #24222f;
  }
</style>

<% if @element.to_s.starts_with?('single') %>
    <% picker_id = @element.to_s.split('_').to_a.last %>
  <script>
      $('.area-position').click(function () {
          formGroup = $('#<%= picker_id %>');
          clicked = $(this).find('p');

          formGroup.find('.form-control').val(clicked.html().replace(/^\s+|\s+$/g, ''));
          formGroup.find('.form-control-hidden').val(clicked.attr('data-id'));

          $('#table-modal').modal('hide');
      });
  </script>
<% end %>