<% if @element.to_s.starts_with?('single') %>
    <% picker_id = @element.to_s.split('_').to_a[1] %>
    <% area = picker_id.starts_with?('area') %>
    <% if area %>
      <% position = '' %>
    <% else %>
      <% position = @element.to_s.split('_').to_a[2] %>
    <% end %>
<% else %>
    <% picker_id = nil %>
    <% area = true %>
    <% position = '' %>
<% end %>

<div class="row">

  <%= render partial: 'positions/chart', locals: {parent: position}, layout: false %>

</div>

<% if area %>
  <style>
    .position {
      color: #827ca1;
    }
    .area-position {
      color: #827ca1;
      cursor: pointer !important;
    }

    .area-position p {
      color: #827ca1;
    }

    .area-position:hover p {
      color: #24222f;
    }
  </style>
<% else %>
  <style>
    .node {
      color: #827ca1;
      cursor: pointer !important;
    }

    .node p {
      color: #827ca1;
    }

    .node:hover p {
      color: #24222f;
    }
  </style>
<% end %>

<% unless picker_id.nil? %>
  <script>
      var classSelector = 0 + <%= area %> ? $('.area-position') : $('.position');
      classSelector.click(function () {
          formGroup = $('#<%= picker_id %>');
          clicked = $(this).find('p');

          formGroup.find('.form-control').val(clicked.html().replace(/^\s+|\s+$/g, ''));
          formGroup.find('.form-control-hidden').val(clicked.attr('data-id'));

          $('#table-modal').modal('hide');
      });
  </script>
<% end %>