<% key ||= :comments%>

<% if defined? form && form %>
    <div class="panel" style="width: 100%">
      <div class="panel-body">
        <div class="row form-group" style="margin: 30px 10px;height:400px">
          <%= form.text_area key, class: 'form-control', data: {provider: 'summernote'} %>
        </div>
      </div>
    </div>
<% end %>