
<div class="associables-menu">

  <div class="menu-item menu-item-drop-down">
    <p class="item-content"> Mejora </p>

    <div class="associables-sub-menu">
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Finding">Hallazgos</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Audit">Auditorías</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="ManagementReview">Revisiones Gerenciales</p>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-item menu-item-drop-down">
    <p class="item-content"> Análisis </p>

    <div class="associables-sub-menu">
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Indicator">Indicadores</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Report">Informes</p>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-item menu-item-drop-down">
    <p class="item-content"> Personas </p>

    <div class="associables-sub-menu">
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person::User">Fichas</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Position">Organigrama</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="UserCompetency">Competencias</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="UserPerformance">Desempeño</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="UserClimate">Clima</p>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-item menu-item-drop-down">
    <p class="item-content"> Clientes </p>

    <div class="associables-sub-menu">
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Client">Fichas</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="ClientType">Tipos</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="ClientSatisfaction">Satisfacción</p>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-item menu-item-drop-down">
    <p class="item-content"> Proveedores </p>

    <div class="associables-sub-menu">
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Provider">Fichas</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="ProviderType">Tipos</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="ProviderCompetency">Competencias</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="ProviderPerformance">Desempeño</p>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-item">
    <p class="item-content assoc-item" data-linked_class="Person"> Mantención </p>
  </div>

  <div class="menu-item">
    <p class="item-content assoc-item" data-linked_class="Person"> Planificación </p>
  </div>

  <div class="menu-item menu-item-drop-down">
    <p class="item-content"> Documentos </p>

    <div class="associables-sub-menu">
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Documentos</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Registros</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Archivos</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Actas</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Definiciones</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Cuestionarios</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Normas</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Leyes</p>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-item menu-item-drop-down">
    <p class="item-content"> Estrategias </p>

    <div class="associables-sub-menu">
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">FODA</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Partes Interesadas</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Objetivos</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Procesos</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Comunicación</p>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-item menu-item-drop-down">
    <p class="item-content"> Riesgos </p>

    <div class="associables-sub-menu">
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Gestión</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Ambientales</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Seguridad</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Normas</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Leyes</p>
        </div>
      </div>
    </div>
  </div>

</div>


<script>
    $('.assoc-item').click(function(){
        // Set the title of the modal to that of the drop-down element clicked.
        $('#table-modal-title').html($(this).html());
        // Calls list.js through the controller, giving values to @element and @association_key
        // Which in turn calls the right partial, using @association-key (from data-linked_class)
        // as the name.
        $.ajax({url: '/associables/<%= element %>/' + $(this).attr('data-linked_class')})
    });
</script>

<style>
  .associables-menu {
    position: relative;
    display: block;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-top: 1px solid #dfe4ed;

  }

  .associables-menu > .menu-item {
    cursor: pointer;
    display: inline-block;
    float: left;
    width: 10%;
    height: 100%;
    border-right: 1px solid #dfe4ed;
  }

  .associables-menu .menu-item:last-child {
    border-right: 0
  }

  .menu-item > .item-content {
    padding: 42px 25px 10px 25px;
    margin: 0;
    height:100%;
    color: #827ca1;
    font-weight: 600;
    text-align: center;
    position: relative;
    display: block;
    line-height: 1;
  }

  .menu-item-drop-down > .item-content:after {
    display: block;
    position: absolute;
    align-items: center;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #d2d9e5 transparent transparent  transparent;
  }

  .associables-sub-menu {
    display: none;
    position: absolute;
    background-color: #f2f4f8;
    color: #818a91;
    min-width: 240px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 0;
  }

  .associables-sub-menu .sub-menu-item {
    padding: 3px 20px;
    font-size: .875rem;
  }

  .sub-menu-item > .item-content {
    color: #827ca1;
    padding: 10px 25px;
    margin-bottom: 1rem;
    height:100%;
    font-weight: 400;
    text-align: left;
    line-height: 1;
  }

  .menu-item:hover {
    background-color: #f2f4f8;
  }

  .menu-item:hover > .item-content {
    color: #24222f;
  }

  .menu-item-drop-down:hover {
    height: 82px;
  }

  .menu-item-drop-down:hover .associables-sub-menu {
    display: block;
  }

  .sub-menu-item:hover > .item-content {
    color: #24222f
  }

  .associable-data-row {
    cursor: pointer
  }
</style>