<nav class="left-menu">
  <div class="left-menu-inner">

    <ul class="left-menu-list left-menu-list-root list-unstyled" style="border-bottom: none; width: 100%">

      <li class="left-menu-list-submenu" style="cursor: pointer; border-bottom: none; width: 10%">
        <p class="left-menu-link" style="border-bottom: none; border-left: none"> Mejora </p>

        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Hallazgos</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Auditorías</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Revisiones Gerenciales</p>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list-submenu" style="cursor: pointer; border-bottom: none; width: 10%">
        <p class="left-menu-link" style="border-bottom: none"> Análisis </p>

        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Indicadores</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Informes</p>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list-submenu" style="cursor: pointer; border-bottom: none; width: 10%">
        <p class="left-menu-link" style="border-bottom: none"> Personas </p>

        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Fichas</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Organigrama</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Competencias</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Desempeño</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Clima</p>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list-submenu" style="cursor: pointer; border-bottom: none; width: 10%">
        <p class="left-menu-link" style="border-bottom: none"> Clientes </p>

        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Fichas</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Tipos</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Satisfacción</p>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list-submenu" style="cursor: pointer; border-bottom: none; width: 10%">
        <p class="left-menu-link" style="border-bottom: none"> Proveedores </p>

        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Fichas</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Tipos</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Competencias</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Desempeño</p>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list" style="cursor: pointer; border-bottom: none; width: 10%">
        <p class="left-menu-link assoc-item" style="border-bottom: none" data-linked_class="Person"> Mantención </p>
      </li>

      <li class="left-menu-list" style="cursor: pointer; border-bottom: none; width: 10%">
        <p class="left-menu-link" style="border-bottom: none" data-linked_class="Person"> Planificación </p>

      </li>

      <li class="left-menu-list-submenu" style="cursor: pointer; border-bottom: none; width: 10%">
        <p class="left-menu-link" style="border-bottom: none"> Documentos </p>

        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Documentos</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Registros</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Archivos</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Actas</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Definiciones</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Cuestionarios</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Normas</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Leyes</p>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list-submenu" style="cursor: pointer; border-bottom: none; width: 10%">
        <p class="left-menu-link" style="border-bottom: none"> Estrategias </p>

        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">FODA</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Partes Interesadas</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Objetivos</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Procesos</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Comunicación</p>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list-submenu" style="cursor: pointer; border-bottom: none; width: 10%">
        <p class="left-menu-link" style="border-bottom: none; border-right: none"> Riesgos </p>

        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Gestión</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Ambientales</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Seguridad</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Normas</p>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <p class="left-menu-link assoc-item" data-linked_class="Person">Leyes</p>
            </div>
          </li>
        </ul>
      </li>

    </ul>

  </div>
</nav>

<script>
    $('.assoc-item').click(function(){
        //alert(this.getAttribute('data-linked_class'));
        $.ajax({url: '/associables/risk/' + $(this).attr('data-linked_class')})
    });
</script>