<%= content_for :style_tags do %>
  <%= stylesheet_link_tag 'associables.min' %>
<% end %>

<div class="margin-left-20 margin-top-20">
  <h6>
    <a href="javascript:showAssociation()">Referencias</a>
  </h6>
</div>

<div class="associables-menu" id="associables">

  <div class="menu-item menu-item-drop-down">
    <p class="item-content"> Mejora </p>

    <div class="associables-sub-menu">
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Finding">Hallazgos</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Audit">Auditorías</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="ManagementReview">Revisiones Gerenciales</p>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-item menu-item-drop-down">
    <p class="item-content"> Análisis </p>

    <div class="associables-sub-menu">
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Indicator">Indicadores</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Report">Informes</p>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-item menu-item-drop-down">
    <p class="item-content"> Personas </p>

    <div class="associables-sub-menu">
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person::User">Fichas</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Position">Organigrama</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="UserCompetency">Competencias</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="UserPerformance">Desempeño</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="UserClimate">Clima</p>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-item menu-item-drop-down">
    <p class="item-content"> Clientes </p>

    <div class="associables-sub-menu">
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Client">Fichas</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="ClientType">Tipos</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="ClientSatisfaction">Satisfacción</p>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-item menu-item-drop-down">
    <p class="item-content"> Proveedores </p>

    <div class="associables-sub-menu">
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Provider">Fichas</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="ProviderType">Tipos</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="ProviderCompetency">Competencias</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="ProviderPerformance">Desempeño</p>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-item">
    <p class="item-content assoc-item" data-linked_class="Person"> Mantención </p>
  </div>

  <div class="menu-item">
    <p class="item-content assoc-item" data-linked_class="Person"> Planificación </p>
  </div>

  <div class="menu-item menu-item-drop-down">
    <p class="item-content"> Documentos </p>

    <div class="associables-sub-menu">
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Documentos</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Registros</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Archivos</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Actas</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Definiciones</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Cuestionarios</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Normas</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Leyes</p>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-item menu-item-drop-down">
    <p class="item-content"> Estrategias </p>

    <div class="associables-sub-menu">
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">FODA</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Partes Interesadas</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Objetivos</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Procesos</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Comunicación</p>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-item menu-item-drop-down">
    <p class="item-content"> Riesgos </p>

    <div class="associables-sub-menu">
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Gestión</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Ambientales</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Seguridad</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Normas</p>
        </div>
      </div>
      <div>
        <div class="sub-menu-item">
          <p class="item-content assoc-item" data-linked_class="Person">Leyes</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="associables-container"></div>

<% content_for :scripts do %>
  <!-- Associations Bar Scripts -->
  <script type="text/javascript">
      $(document).ready(function() {
          $('#associables').hide();
          console.log('hi');
      });

      $('.assoc-item').click(function(){
          // Set the title of the modal to that of the drop-down element clicked.
          $('#table-modal-title').html($(this).html());
          // Calls list.js through the controller, giving values to @element and @association_key
          // Which in turn calls the right partial, using @association-key (from data-linked_class)
          // as the name.
          $.ajax({url: '/associables/<%= element %>/' + $(this).attr('data-linked_class')})
      });

      function showAssociation() {
          var menu = $('#associables');
          menu.is(':visible') ? menu.hide() : menu.fadeIn();
      }
  </script>
<% end %>