<div class="row">
  <div class="table-responsive margin-bottom-30" style="height:300px; overflow:auto">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Nombre</th>
        <th style="width: 70%">Descripción</th>
      </tr>
      </thead>
      <tbody>
        <% if BusinessProcess.count > 0 %>
          <% BusinessProcess.each do |business_process| %>
            <tr data-id="<%= business_process.id %>">
              <td><%= business_process.name %></td>
              <td><%= business_process.description %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No se encontraron procesos</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>