<div class="row">
  <div class="table-responsive margin-bottom-30" style="height:300px; overflow:auto">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Test1</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>minitest1</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>