<div class="row">
  <div class="col-xl-12">
    <div class="panel panel-with-borders">
      <div class="panel-body">
        <div class="nav-tabs-horizontal margin-bottom-20">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#h1" role="tab">Tareas Pendientes</a>
            </li>
            <!-- <li class="nav-item">
                 <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#h2" role="tab">Tareas Realizados</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#h3" role="tab">Tareas atrasadas</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#h4" role="tab">Waiting for Registration</a>
             </li>-->
          </ul>
        </div>
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap4">
          <div class="row">
            <div class="col-md-6">
              <div class="dataTables_length" id="example1_length">
                <label>
                  Mostrando
                  <select name="example1_length" aria-controls="example1" class="form-control input-sm">
                    <option value="5">5</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="-1">Todas</option>
                  </select>
                  entradas
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div id="example1_filter" class="dataTables_filter">
                <label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-hover nowrap margin-bottom-0" id="tasks-table" width="100%"  style="cursor:pointer;">
                <thead>
                  <%= yield :table_headers %>
                </thead>

                <tfoot>
                  <%= yield :table_headers %>
                </tfoot>

                <tbody>
                  <%= yield :table_body %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                Mostrando de 0 a 0 de 0 entradas
              </div>
            </div>
            <div class="col-md-7">
              <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                <ul class="pagination">
                  <li class="paginate_button page-item previous disabled" id="example1_previous">
                    <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">
                      Anteriores
                    </a>
                  </li>
                  <li class="paginate_button page-item next disabled" id="example1_next">
                    <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">
                      Siguiente
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).on("click", "#tasks-table tr", function() {
        var link  = $(this).data("href");
        window.open(link, '_self')
    });
</script>

<% parent_layout 'application' %>